{{ form_start(form) }}
    <div class="mb-3">
        {{ form_row(form.email,{'attr': {'class': 'form-control'}}) }}
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        {{ form_row(form.first_name,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.last_name,{'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.password, {
        label: 'Password',
        'attr': {'class' : 'form-control'}
    }) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
