{% extends 'base.html.twig' %}

{% block title %}Artist index{% endblock %}

{% block body %}
    <h1>Artist index</h1>
    <a href="{{ path('app_admin_artist_new') }}" class="btn btn-primary">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Followers', 'a.followers') }}</th>
                <th>Spotify_artist_id</th>
                <th>Image_link</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Popularity', 'a.popularity') }}</th>
                <th>Genre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artist in pagination %}
            <tr>
                <td>{{ artist.id }}</td>
                <td>{{ artist.followers }}</td>
                <td>{{ artist.spotifyArtistId }}</td>
                <td>{{ artist.imageLink }}</td>
                <td>{{ artist.name }}</td>
                <td>{{ artist.popularity }}</td>
                <td>{{ artist.genre }}</td>
                <td>
                    <a href="{{ path('app_admin_artist_show', {'id': artist.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_admin_artist_edit', {'id': artist.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
